body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 36px;
    text-transform: uppercase;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: skyblue;
}

section {
    padding: 40px;
    margin: 30px 0;
    border: 2px solid #222;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

section p {
    font-size: 16px;
    line-height: 1.5;
}

form {
    margin-top: 30px;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #222;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: rgb(45, 195, 255);
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: rgb(95, 210, 255);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-radius: 10px;
}